button {
    border: 2px solid black;
    padding: 2px 5px 2px 5px;
    min-width: 75px;
    min-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    background: #fff;
    box-shadow: 4px 4px #808080;
    transition: 0.12s all;
}

button:active {
    transform: scale(0.98);
    box-shadow: 2px 2px #a0a0a0;
}

button:disabled {
    background: #808080;
    opacity: 0.7;
}

button:hover:enabled {
    background: #900000;
    color: #fff;
    cursor: pointer;
}

button.link-button {
    padding: 0px;
    width: fit-content;
    height: fit-content;
    border: 0px solid transparent;
    box-shadow: 0px 0px transparent;
}

button.link-button:disabled {
    color: #808080;
    opacity: 0.7;
}

button.link-button:hover:enabled {
    background: #fff;
    color: #000;
    text-decoration: underline;
    text-decoration-color: #900000;
    text-decoration-thickness: 2px;
}

input {
    border: 2px solid black;
    padding: 2px 5px 2px 5px;
    background: #fff;
    color: #000;
}

input:focus {
    outline: 2px solid #900000;
    border: 2px solid #900000;
}

input.file-input {
    border: none;
    padding: 0;
}

input[type="file"]::file-selector-button {
    border: 2px solid black;
    padding: 6px 5px 2px 5px;
    min-width: 75px;
    min-height: 25px;
    margin-left: 0px;
    margin-right: 16px;
    margin-bottom: 8px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    font-size: 16px;
    font-family: "Helvetica", "Arial", sans-serif;
    background: #fff;
    cursor: pointer;
    box-shadow: 4px 4px #808080;
    transition: 0.12s all;
}

input[type="file"]::file-selector-button:hover {
    background: #900000;
    color: #fff;
}

input[type="file"]::file-selector-button:active {
    transform: scale(0.98);
    box-shadow: 2px 2px #a0a0a0;
}

ul.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.nav li {
    display: inline-block;
}

ul.nav .nav-title {
    margin-right: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
}

ul.nav .nav-button {
    margin-right: 1.2rem;
    cursor: pointer;
}

ul.nav .nav-button-end {
    margin-right: 0rem;
}

ul.nav .nav-button-active {
    border-bottom: 2px solid #900000;
}

ul.nav a.nav-link {
    color: #000;
    text-decoration: none;
}

a.nav-link:visited {
    color: #000;
    text-decoration: none;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group input, label {
    display: block;
    max-width: fit-content;
}

.row-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.row-container > div {
    flex: 0 1 auto;
}

.icon-button {
    min-width: 40px;
    min-height: 32px;
}

.icon-reset:enabled {
    background-image: url("../img/reset.svg");
    background-repeat: no-repeat;
    background-origin: content-box;
}

.icon-reset:disabled {
    background-image: url("../img/reset.svg");
    background-repeat: no-repeat;
    background-origin: content-box;
}

.icon-reset:hover:enabled {
    background-image: url("../img/reset-white.svg");
    background-repeat: no-repeat;
    background-origin: content-box;
}
